@use "../mixins/reset.scss";
@use "../variables/paleta_cores.scss";
@use "../mixins/to_rem.scss";
@use "../mixins/tipografia.scss";
@use "../mixins/decorador.scss";
.body-login{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,2fr));
    height: 100vh;
    h2{
        margin-bottom: 1rem;
    }
    .box-gif-cadastro{
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        background-color: #CEDDFF;
        
        img{
            max-width: 100%;
            max-height: 55%;

        }
        
    }
    .box-form-cadastro{
        height: 100vh;
    }
   
    .form-input-cadastro{
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        padding: 0.8rem;
        
        animation: animacaoLateral 0.3s ease-in-out forwards;
        transition: 0.6s;
        transform:translateX(-50px);
        opacity: 0;
        div{
            background-image: url("../../assets/linha.svg");
            height: 20px;
            width: 30px;
        }

        h2{
            position: relative;
           @include tipografia.titulo(55px);
           @include decorador.decorador(paleta_cores.$lilas-deco, 
           to_rem.toRem(115px),
           to_rem.toRem(18px))
          
        }
        button{
            place-self: end;
            margin-top: 5rem;
        }
        aside.redirecionamento{
            display: flex;
            gap: 0.4rem;
        }
    }
    
}
