@use "../mixins/tipografia.scss";
@use "../variables/paleta_cores.scss";
@use "../mixins/to_rem.scss";


.body-iniciar{
    display: grid;
   
}
.body-iniciar article.box-inicial{
    display: flex;
    padding: 1rem;
   
    .box-logo #logo{
        @include tipografia.logo;
        place-self: start;
    }
}

.box-main{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    width: 100%;
    height: 100%; 
    article{
        place-self: center;

    }

    #slogan{
        place-self: center;
        max-width: 120ch;

        span{
            @include tipografia.titulo(95px);
        }
    }

    p{
        place-self: center;
        @include tipografia.corpo_texto(25px,#7A7A7A);
        max-width: 70ch;
        margin-top: 0px;
        margin-bottom: 3rem;
    }

    .navegacao-inicial{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px,500px));
        position: relative;
        justify-content: center;
        margin-top: 5rem;
        gap: 0.7rem;
        
       
        .botao-log{
            width: 25%;
            justify-self: start;
        }
        
        .botao-cadas{
            width: 25%;
            justify-self: center;
        }

       
    }


    // elementos decorativo 
       
    #deco-esquerda{
        position: absolute;
        left: -160px;
        top: 50px;
        transform: translateX(-350px);
        animation: animacao-deco-inicial 1s forwards  ease-in-out;
        opacity: 0;
        width: 30%;
    }
    #deco-direita{
        width: 20%;
        position: absolute;
        right: -15px;
        top: 50px;
        transform: translateX(350px);
        animation: animacao-deco-inicial 1s forwards ease-in-out;
        opacity: 0;
    }


}

.navegacao-aux{
    display: flex;
    position: relative;
    height: 100%;
    margin-top: 3.5rem;
    align-items: end;
   
    .inner-nav-aux{
        display: flex;
        gap: 1rem;
       
        a{
            @include tipografia.txt_button(25px);
            padding: 1.5rem 1.5rem;

            &:first-child::after{
                content: "";
                position: absolute;
                left: 110px;
                padding: to_rem.toRem(8px);
                box-shadow: 1.5px -1.5px 0 1px #000 inset;
                border: solid transparent;
                border-width: 0 0 2px 2px;
                rotate: (180deg) ;
            }

            &:first-child::before{
                content: "";
                position: absolute;
                left: 113px;
                height: 1.5rem;
                width: 3px;
                background-color: #000;
                rotate: (50deg);
            }

            &:hover{
                color: paleta_cores.$cor-principal;
            }
        }

    }
    
}

    







// animaçãoes

@keyframes animacao-deco-inicial{
    to{
        transform: initial;
        opacity: 1;
    }
}

