
// cores para elementos
$cor-principal : #1E60FA;
$azul-escuro: #4D6294;
$azul-claro: #81A7FF;
$branco-azulado: #F3F7FF;
$cinza-claro: #464E61;
$cinza-medio: #2F2F2F;
$cinza-escuro: #1E1E1E;
$esmeralda: #2085B8;
$esmeralda-escuro: #37474F;
$azul-verde: #2A3236;
$branco-cinzen: #F3F3F3;
$lilas: #BFD1FD;
$lilas-deco: #CEDDFF;

//cores de texto

$texto-titulo: #A5A5A5;
$texto-desc: #7A7A7A;
$texto-azul-claro: #E0E9FF;
$texto-branco-cinza:#EAEAEA;


