article#pesquisar{
    .botao-pesquisar{
        border: 0;
        margin: 0;
        background-color: transparent;
        img{
            width: 80%;
            height: 80%;
            
        }
    }
}