@use "../mixins/to_rem.scss";
@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Ribeye&family=Roboto:wght@400;500;700&display=swap');


*{
    font-family: 'Roboto', sans-serif;
}


// função para transformar px em rem
@function toRem ($tamanho){
    @return math.div($tamanho, 16px) * 1rem
}



@mixin logo{
    color: #000;
    font-family: Hammersmith One;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


@mixin titulo($size){
    @if $size == 95px{
        color: #000;
        font-size: toRem(95px);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.9px;
    }

    @else if $size == 85px{
        color: #000;
        font-family: Roboto;
        font-size: toRem(85px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    @else if $size == 75px{
        color: #000;
        font-family: Roboto;
        font-size: toRem(75px);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    @else if $size == 65px{
        color: #000;
        font-size: toRem(65px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    @else if $size == 55px{
        color: #000;
        font-size: toRem(55px);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    


}


@mixin corpo_texto($size,$color:black){
    @if $size == 36px{
        color: $color;
        font-size: toRem(36px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    @else if $size == 25px{
        color: $color;
        font-size: toRem(25px);
        font-style:normal;
        font-weight: 400;
        line-height: normal;
    }
    
    @else if $size == 20px{
        color: $color;
        font-size: toRem(20px);
        font-style:normal;
        font-weight: 5
        00;
        line-height: normal;

    }

    @else if $size == 18px{
        color: $color;
        font-family: Roboto;
        font-size: toRem(16px);
        font-style: normal;
        font-weight: 200;
        line-height: toRem(26px); 
        max-width: 60ch;
        max-height: 40ch;
    }
}

@mixin subtitulo($size, $color:black){
    @if $size == 45px{
        color: $color;
        font-size: toRem(45px);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    @else if $size == 40px{
        color: $color;
        font-size: toRem(40px);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    @else if $size 30px{
        color: $color;
        font-size: toRem(30px);
        font-style: normal;
        font-weight: 500;
        line-height: normal;

    }
    @else if $size 20px{
        color: $color;
        font-size: toRem(10px);
        font-style: normal;
        font-weight: 300;
        line-height: normal;

    }

}

@mixin txt_button($size, $color:black){
    @if $size == 25px{
        color: $color;
        font-size: toRem(25px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;

    }
    @else if $size == 45px{
        color: $color;
        font-size: toRem(45px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    @else if $size == 30px{
        color: $color;
        font-size: toRem(30px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    @else if $size == 25px{
        color: $color;
        font-size: toRem(25px);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}